<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <br>
      <% @user.errors.full_messages.each do |message| %>
        <p class="ls-alert-danger"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <br>
  <div class="field">
    <b class="ls-label-text"> <%= f.label :login %> </b>
    <p class="ls-label-info">Digite o seu login<p>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <b class="ls-label-text">Nome completo</b>
    <p class="ls-label-info">Digite o seu Nome completo<p>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <b class="ls-label-text"><%= f.label :email %></b>
    <p class="ls-label-info">Digite o seu Nome completo<p>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <b class="ls-label-text">Idade</b>
    <p class="ls-label-info">Digite a idade do usuário<p>
    <%= f.number_field :age %>
  </div>
  <hr/>
  <%= submit_tag 'Salvar', class: "ls-btn-primary", id: "btn-save", data: { disable_with: false } %>
  <%= link_to 'Mostrar', @user, class: "ls-btn" , id: "btn-show" %>
  <%= link_to 'Cancelar', users_path, class: "ls-btn-primary-danger", id: "btn-cancel" %>
  <br>
<% end %>
