<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <br>
  <div class="field">
    <b class="ls-label-text"> <%= f.label :login %> </b>
    <p class="ls-label-info">Digite o seu login<p>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <b class="ls-label-text">Nome completo</b>
    <p class="ls-label-info">Digite o seu Nome completo<p>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <b class="ls-label-text"><%= f.label :email %></b>
    <p class="ls-label-info">Digite o seu Nome completo<p>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <b class="ls-label-text">Idade</b>
    <p class="ls-label-info">Digite a idade do usuário<p>
    <%= f.number_field :age %>
  </div>
  <div class="ls-actions-btn">
    <%= f.submit 'Salvar', :class => "ls-btn-primary" %>
  </div>
<% end %>
