<h1 id="titulo">Listing Users</h1>

<% if notice.to_s != '' %>
  <div class="ls-alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>
<br>

<table class="ls-table">
  <thead>
    <tr>
      <th>Código</th>
      <th class="hidden-xs">Login</th>
      <th>Full name</th>
      <th class="hidden-xs">Email</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td id="codigo_<%= user.id %>"><%= user.id %></td>
        <td class="hidden-xs" id="login_<%= user.id %>"><%= user.login %></td>
        <td id="full-name_<%= user.id %>"><%= user.full_name %></td>
        <td class="hidden-xs" id="email_<%= user.id %>"><%= user.email %></td>
        <td id="age_<%= user.id %>"><%= user.age %></td>
        <td id="btn-show_<%= user.id %>"><%= link_to 'Mostrar', user, class: "ls-btn-primary" %></td>
        <td id="btn-edit_<%= user.id %>"><%= link_to 'Editar', edit_user_path(user), class: "ls-btn"  %></td>
        <td id="btn-delete_<%= user.id %>"><%= link_to 'Apagar', user, method: :delete, data: { confirm: 'Deseja deletar o usuário?' }, class: "ls-btn-primary-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Usuário', new_user_path, id:"btn-new" , class: "ls-btn-dark" %>
