<% if notice.to_s != '' %>
	<div class="ls-alert-success">
		<p id="notice"><%= notice %></p>
	</div>
<% end %>
<br>

<p>
  <strong>Código:</strong>
  <span id=codigo><%= @user.id %></span>
</p>

<p>
  <strong>Login:</strong>
  <span id=login><%= @user.login %></span>
</p>

<p>
  <strong>Full name:</strong>
  <span id=full_name><%= @user.full_name %></span>
</p>

<p>
  <strong>Email:</strong>
  <span id=email><%= @user.email %></span>
</p>

<p>
  <strong>Age:</strong>
  <span id=age><%= @user.age %></span>
</p>

<hr/>

<%= link_to 'Editar', edit_user_path(@user), class: "ls-btn" %>
<%= link_to 'Voltar', users_path, class: "ls-btn-primary-danger" %>