<%= form_for(processo) do |f| %>
  <% if processo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(processo.errors.count, "error") %> prohibited this processo from being saved:</h2>

      <ul>
      <% processo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vara %>
    <%= f.text_field :vara %>
  </div>

  <div class="field">
    <%= f.label :numero_processo %>
    <%= f.text_field :numero_processo %>
  </div>

  <div class="field">
    <%= f.label :natureza %>
    <%= f.text_field :natureza %>
  </div>

  <div class="field">
    <%= f.label :partes %>
    <%= f.text_field :partes %>
  </div>

  <div class="field">
    <%= f.label :urgente %>
    <%= f.text_field :urgente %>
  </div>

  <div class="field">
    <%= f.label :arbitramento %>
    <%= f.text_field :arbitramento %>
  </div>

  <div class="field">
    <%= f.label :assistente_social %>
    <%= f.text_field :assistente_social %>
  </div>

  <div class="field">
    <%= f.label :data_entrada %>
    <%= f.date_select :data_entrada %>
  </div>

  <div class="field">
    <%= f.label :data_saida %>
    <%= f.date_select :data_saida %>
  </div>

  <div class="field">
    <%= f.label :data_agendamento %>
    <%= f.date_select :data_agendamento %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :observacao %>
    <%= f.text_field :observacao %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
