<p id="notice"><%= notice %></p>

<h1>Processos</h1>

<table class="ls-table">
  <thead>
    <tr>
      <th>Vara</th>
      <th class="hidden-xs">Numero processo</th>
      <th>Natureza</th>
      <th class="hidden-xs">Partes</th>
      <th>Assistente social</th>
      <th class="hidden-xs">Data entrada</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processos.each do |processo| %>
      <tr>
        <td><%= processo.vara %></td>
        <td class="hidden-xs"><%= processo.numero_processo %></td>
        <td><%= processo.natureza %></td>
        <td class="hidden-xs"><%= processo.partes %></td>
        <td><%= processo.assistente_social %></td>
        <td class="hidden-xs"><%= processo.data_entrada %></td>
        <td><%= processo.status %></td>
        <td><%= link_to 'Mostrar', processo, class: "ls-btn-primary" %></td>
        <td class="hidden-xs"><%= link_to 'Editar', edit_processo_path(processo), class: "ls-btn" %></td>
        <td><%= link_to 'Apagar', processo, method: :delete, data: { confirm: 'Are you sure?' }, class: "ls-btn-primary-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Processo', new_processo_path, class: "ls-btn-dark" %>
