<br>
<% if notice.to_s != '' %>
  <div class="ls-alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>
<br>

<p>
  <strong>Código:</strong>
  <span id=codigo><%= @processo.id %></span>
</p>

<p>
  <strong>Vara:</strong>
  <span id=vara><%= @processo.vara %></span>
</p>

<p>
  <strong>Numero processo:</strong>
  <span id=numero><%= @processo.numero_processo %></span>
</p>

<p>
  <strong>Natureza:</strong>
  <span id=natureza><%= @processo.natureza %></span>
</p>

<p>
  <strong>Partes:</strong>
  <span id=partes><%= @processo.partes %></span>
</p>

<p>
  <strong>Urgente:</strong>
  <span id=urgente><%= @processo.urgente %></span>
</p>

<p>
  <strong>Arbitramento:</strong>
  <span id=arbitramento><%= @processo.arbitramento %></span>
</p>

<p>
  <strong>Assistente social:</strong>
  <span id=as_social><%= @processo.assistente_social %></span>
</p>

<p>
  <strong>Data entrada:</strong>
  <span id=dt_entrada><%= @processo.data_entrada %></span>
</p>

<p>
  <strong>Data saida:</strong>
  <span id=dt_saida><%= @processo.data_saida %></span>
</p>

<p>
  <strong>Data agendamento:</strong>
  <span id=dt_agendamento><%= @processo.data_agendamento %></span>
</p>

<p
  <strong>Status:</strong>
  <span id=status><%= @processo.status %></span>
</p>

<p>
  <strong>Observacao:</strong>
  <span id=observacao><%= @processo.observacao %></span>
</p>

<hr/>

<%= link_to 'Editar', edit_processo_path(@processo), class: "ls-btn" %>
<%= link_to 'Voltar', processos_path, class: "ls-btn-primary-danger" %>
